/* .dashboard {
    text-align: center;
    padding: 20px;
} */

.search-container {
    text-align: center;
    margin-top: auto;
}

.container {
    max-width: 500px;
    margin: 10% auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

h1 {
    color: #333;
}

input {
    border-radius: 10px;
    width: 95%;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}

label{
    font-size: 20px;
}

.search-button {
    background-color: #4CAF50;
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

ul {
    background-color: rgb(235, 234, 234);
    border-radius: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}

#suggestions li {
    padding: 5px;
    cursor: pointer;
}

#results {
    margin-top: 20px;
    text-align: left;
}

.country-link {
    color: blue;
    cursor: pointer;
}